if SHIELD_DM_MINI_4X6_LEFT

    config ZMK_KEYBOARD_NAME
        default "Dactyl Mini 4x6(Left)"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

endif

if SHIELD_DM_MINI_4X6_RIGHT

    config ZMK_KEYBOARD_NAME
        default "Dactyl Mini 4x6(Right)"

endif

if SHIELD_DM_MINI_4X6_LEFT || SHIELD_DM_MINI_4X6_RIGHT

    config ZMK_SPLIT
        default y

endif