if SHIELD_DM_MINI_LEFT

config ZMK_KEYBOARD_NAME
    default "Dactyl Mini 4x6"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif


if SHIELD_DM_MINI_LEFT || SHIELD_DM_MINI_RIGHT

config ZMK_SPLIT
    default y

endif